*.metadata
*.force_relink
*.elf
*.rpt
*.objdump
*.d
*.o
*.html
*.mk
*.a
*.x
*.gdb
*.S
*.jdi
*.qws
*.bsf
*.sopcinfo
*.sdc



/de0_nano/output_files/
/de0_nano/incremental_db/
/de0_nano/greybox_tmp/
/de0_nano/system/
/de0_nano/.qsys_edit
/de0_nano/db
/de0_nano/software/*_bsp/
